{{outlet}}
<p>This site is a simple Ember app for working with basic data structures, pages, routes, use of Firebase for persistence, and for the handling of user input.</p>

<p>It was written by Bradley Pizzimenti in the Spring of 2016</p>
