<h2>Questions:</h2>

<ul>
  {{#each model as |question|}}
  <li>{{question.author}} asks: "{{question.question}}"
  </li>
  {{/each}}
</ul>

<ul>
  {{#each model as |answer|}}
  <li>{{questions.answers.author}}</li>
  {{/each}}
</ul>
