<h2>Questions:</h2>

<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question}}
  {{/each}}
</ul>

<!-- <ul>
  {{#each model.answers as |answer|}}
  <li>{{answer.author}} answers:</li>
  <li>{{answer.answer}}</li>
  <br>
  {{/each}}
</ul> -->
