<h2>Questions:</h2>
<p>(A conifer tree glyph indicates at least 3 answers given.)</p>

<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question}}
  {{/each}}
</ul>

{{new-question saveQuestion="saveQuestion"}}
